<ion-header>
  <ion-toolbar>
    <ion-title>Шаг 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationStep2Form" (ngSubmit)="onNext()">
    <ion-item>
      <ion-label position="floating">Почта</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Пароль</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="registrationStep2Form.invalid">Далее</ion-button>
  </form>
</ion-content>
