<ion-header>
  <ion-toolbar>
    <ion-title>Шаг 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationStep1Form" (ngSubmit)="onNext()">
    <ion-item>
      <ion-label position="floating">Имя</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Фамилия</ion-label>
      <ion-input formControlName="surname"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="registrationStep1Form.invalid">Далее</ion-button>
  </form>
</ion-content>
