<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Цели</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">goals</ion-title>
      <ion-label></ion-label>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let goal of goals">
      <ion-label>
        <h2>{{goal.name}}</h2>
        <p>
          {{goal.currentAmount}}/{{goal.targetAmount}}
          <ion-icon *ngIf="+goal.currentAmount >= +goal.targetAmount" name="checkmark-circle-outline" style="color: green"></ion-icon>
        </p>
      </ion-label>
      <app-event-options-popover
      [currentGoal]="goal"
      [openEditGoalModal]="editGoal.bind(this)"
      [deleteGoal]="deleteGoal.bind(this)"></app-event-options-popover>
    </ion-item>
  </ion-list>
  <ion-button fill="outline" expand="block" (click)="createGoal()">Создать цель</ion-button>
</ion-content>
