<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main" href="/tabs/main">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Главная</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts" href="/tabs/contacts">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Контакты</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="createEvent" href="/tabs/createEvent">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="events" href="/tabs/events">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>События</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Настройки</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
