<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Вход</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Email -->
    <ion-item>
      <ion-label position="floating">Почта</ion-label>
      <ion-input
        id="email"
        type="email"
        formControlName="userEmail">
      </ion-input>
      <validator-message-component [control]="loginFormVM.controlMap.userEmail"
                                 [errorMessage]="'Неверный формат почты'"></validator-message-component>
    </ion-item>

    <!-- Password -->
    <ion-item>
      <ion-label position="floating">Пароль</ion-label>
      <ion-input
        id="password"
        type="password"
        password-strength
        formControlName="userPassword">
      </ion-input>
      <validator-message-component [control]="loginFormVM.controlMap.userPassword"></validator-message-component>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      [disabled]="loginForm.invalid">
      Войти
    </ion-button>
  </form>

  <ion-toast
    [isOpen]="showErrorToast"
    [message]="errorMessage"
    [duration]="3000"
    (didDismiss)="showErrorToast = false">
  </ion-toast>
</ion-content>
